---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
ColumnLimit: 0
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
SortIncludes: false
BreakBeforeBraces: Allman
Language: Cpp
...
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
Language: Cpp
